.container.hero-text
  .one-half.first
    %h1.title
      = data.page.title

  .one-half.last
    %p.subtitle
      = data.page.subtitle

%nav.nav-menu
  .container
    = link_to "Home", "/rhok_brisbane_2013/"
    = link_to "Current Projects", "/rhok_brisbane_2013/problems"
    = link_to "Contact Us", "#contactUs"


