.container.hero-text
  .one-half.first
    = link_to image_tag('logo.png'), "/", class: 'logo'

  .one-half.last
    %p.subtitle
      = data.page.subtitle

  %strong.date 7-8 Dec, Fortitude Valley

.container
  = link_to 'Join Us', 'http://www.meetup.com/Rhok-Brisbane/events/152761962/', class: 'button join-button', target: "_blank"

  %nav.nav-menu
    = link_to "Problem", "#problem"
    = link_to "Program", "#program"
    = link_to "Contact Us", "#contactUs"
