.container.hero-text
  .one-half.first
    = link_to image_tag('logo.png'), "/", class: 'logo'

  .one-half.last
    %p.subtitle
      = data.page.subtitle

%nav.nav-menu
  .container
    = link_to 'Home', '/', class: page_classes == 'index' ? 'active' : nil
    = menu_link "Current projects", "problems"
    = menu_link "Get involved", "volunteer"
    = link_to "Contact Us", "#contactUs"

