
<div class="hero overlayed-text" style="background-image: url(<%= @organisation.cover_photo %>)">
  <div class="container">

    <h1><%= @organisation.name %></h1>

    <%= link_to 'Edit', edit_organisation_path(@organisation) %>

    <p class="description">
      <%= @organisation.description %>
    </p>

    <label>Category: <%= @organisation.category %></label>
  </div>
</div>

<div class="container">

  <h3>Mission</h3>
  <p class="mission"><%= @organisation.mission.html_safe %></p>

  <h3>Details</h3>
  <dl>
    <dt>Email:</dt>
    <dd><%= @organisation.email %></dd>

    <dt>Phone:</dt>
    <dd><%= @organisation.phone %></dd>

    <dt>Address:</dt>
    <dd>
      <%= @organisation.address %>
      <%= @organisation.city %>
      <%= @organisation.state %>
      <%= @organisation.post_code %>
      <%= @organisation.country %>

      <%= link_to "Map", "http://maps.google.com/?q=#{@organisation.address}%20#{@organisation.city}%20#{@organisation.state}%20#{@organisation.post_code},%20#{@organisation.country}", target: "_blank" %>
    </dd>
  </dl>

  <h3>QR and Short Link</h3>
  <dl>
    <dt>Short URL:</dt>
    <dd><%= link_to "#{@organisation.short_url}", @organisation.short_url %></dd>
    <dt>QR Code:</dt>
    <dd><img src="<%= @organisation.qr_code_image_url %>"></dd>
  </dl> 

  <%= link_to 'Back', organisations_path %>
</div>

