
%h2 RHoK Global Hackathon

%p
  %strong.date 7-8 Dec 2013


%p
  RHoK Brisbane will be hosted by
  = link_to 'NetEngine', 'http://netengine.com.au/', title: "NetEngine", target: "_blank"
  at their office location:


%p.address
  7 Prospect Street, Fortitude Valley,
  %br
  Brisbane Australia 4006
  = link_to "(map)", 'https://maps.google.com.au/maps?t=m&ll=-27.452175600000025%2C153.0374968&q=7+Prospect+Street%2C+Fortitude+Valley%2C+Queensland&spn=0.009254174398395567%2C0.013904665435361601&output=classic', target: "_blank"


#program

  %hr

  %h3  Saturday

  %ul

    %li 9.00 – 9.30 Get set up, and ready for 2 great days
    %li 9.30 – 9.45 Welcome, hear the problem, meet the problem owner
    %li 9.45 - 10.30 Choosing problem areas to work on, and teams to work with
    %li
      11.00 - 19.00
      Hack -
      %strong
        lunch provided by
        = link_to "Grill'd", "http://www.grilld.com.au/", title: "Grill'd", target: "_blank"

    %li
      19.00 – Dinner
      %strong
        Pizza &amp; beverages will be provided by
        = link_to "Ninefold", 'http://ninefold.com/', title: "Ruby on Rails App Hosting & Deployment - Ninefold", target: "_blank"
    %li 20.00 – 02.00 more time to design and develop


  %p Coffees and teas will be provided throughout the day. You can work as late as 2.00am, or head home a little earlier to catch up on some sleep.

  %h3  Sunday

  %ul
    %li
      9.00 – 16.00 Coding continues -
      %strong
        lunch provided by
        = link_to "Grill'd", "http://www.grilld.com.au/", title: "Grill'd", target: "_blank"
    %li 16.00 – Time to down tools
    %li 16.00 – 16.30 Project get 30 minutes to present their work
    %li 16.30 – 17.00 Thanks and outlay future plan
    %li
      17.00 onwards -
      %strong
        share a drink downtstairs @
        = link_to 'Tonic', 'http://tonicespressobar.cc/', title: "TONIC Bar + Espresso", target: "_blank"
        to unwind


  %p More details about the event and those attending is available on <a href="http://www.meetup.com/Rhok-Brisbane" target="_blank">Meetup.com</a>
